@import "colors";
@import "font";

// THEME

@mixin cabin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 90px;
    border-radius: 20px;
    background-color: $artyclick-yellow;
    color: #000;
    font-family: $josefin;
    font-size: 32px;
    font-weight: 400;
}

// STYLE

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 1280px;
    height: 4200px;
}

main {
    padding-top: 94px;
}

a {
    text-decoration: none;
}

// MAIN LANDING PAGE

.main__navbar {
    position: fixed;
    z-index: 3;
    width: 1280px;
    height: 94px;
    background-color: $electric-blue;
    color: #FFF;
    justify-content: space-between;
}

.navbar__logo {
    font-family: $josefin;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;

    a {
        text-decoration: none;
        color: #FFF;
    }
}

.navbar__list {
    font-family: $aleo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    list-style: none;
    margin-right: 29px;
}

.navbar__list {
    li {
        margin-left: 36px;
    }

    a {
        color: #FFF;
        text-decoration: none;
    }
}

.main__landing {
    background-image: url(../assets/img/Landing_background.png);
    width: 1280px;
    height: 720px;
}

.scroll__container {
    padding-top: 24px;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #FFF;
        font-size: 14px;
        font-family: $josefin;
        font-weight: 400;
        letter-spacing: 2.8px;
    }
}

.main__hero {
    .hero__title {
        width: 343px;
        height: 96px;
        font-family: $josefin;
        font-size: 48px;
        font-weight: 400;
        color: #FFF;
        margin-left: 196px;
        margin-top: 310px;
    }
    .hero__img {
        background: url("/assets/img/Snowboarder.png") no-repeat;
        margin-top: 149px;
        margin-left: 83px;
        width: 487px;
        height: 450px;
    }
    .hero__img:hover {
        background: url("/assets/img/2sb1.png");
        margin-top: 149px;
        margin-left: 83px;
        width: 487px;
        height: 450px;
    }
}

// CABINS PAGE

.cabin__container {
    background-image: url(/assets/img/mountain_peaks.png);
    height: 412px;
}

.cabin__title {
    position: absolute;
    margin-top: 33px;
    margin-left: 931px;

    h2 {
        color: #FFF;
        font-family: $josefin;
        font-weight: 400;
        font-size: 48px;
    }
}

.cabin {
    @include cabin;
}

.cabin__first {
    position: absolute;
    margin-left: 76px;
    margin-top: 117px;
}

.cabin__mid {
    position: absolute;
    display: flex;
    gap: 20px;
    margin-top: 162px;
    margin-left: 276px;
}

.cabin__last {
    position: absolute;
    margin-top: 251px;
    margin-left: 1086px;
}

// EXPERIENCE PAGE

.experience {
    display: flex;
    justify-content: center;
    height: 800px;
}

.experience__container {
    width: 800px;
    height: 800px;
    background-color: $electric-blue;
}

.experience__top {
    display: flex;

    .experience__img1 {
        margin-top: 73px;
        margin-left: 92px;
        width: 176px;
        height: 168px;
    }

    .experience__img1:hover {
        scale: 1.2;
    }

    span {
        margin-top: 101px;
        margin-left: 88px;
        color: #FFF;
        font-family: $inter;
        font-size: 36px;
        line-height: 44px;
        font-weight: 400;
    }
}

.experience__mid {
    display: flex;

    .experience__img2 {
        margin-top: 54px;
        margin-left: 139px;
        width: 212px;
        height: 200px;
    }

    .experience__img2:hover {
        scale: 1.2;
    }

    span {
        width: 355px;
        height: 259px;
        margin-top: 44px;
        margin-left: 52px;
        color: #FFF;
        font-family: $inter;
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
    }
}

.experience__bottom {
    display: flex;

    .experience__img3 {
        margin-bottom: 79px;
        margin-left: 68px;
        width: 198px;
        height: 172px;
    }

    .experience__img3:hover {
        scale: 1.2;
    }

    span {
        width: 400px;
        height: 145px;
        margin-top: 38px;
        margin-left: 51px;
        color: #FFF;
        font-family: $inter;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }
}

// JOURNEY PAGE

.journey {
    height: 680px;
    background-image: url(./img/Rectangle_12.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.journey__title {
    margin-left: 127px;
    margin-top: 98px;
    height: 69px;

    h2 {
        font-family: $josefin;
        font-size: 48px;
        font-weight: 700;
    }
}

.journey__content {
    margin-top: 17px;
    margin-left: 130px;

    p {
        width: 536px;
        height: 368px;
        font-family: $josefin;
        font-size: 36px;
        font-weight: 400;
    }
}

.content__img {
    position: absolute;
    margin-top: 42px;
    margin-left: 782px;
}

.content__img:hover {
    scale: 1.1;
}

// LUXURY PAGE

.luxury {
    background-image: url(./img/Rectangle_16.png);
    height: 700px;

    .luxury__icons {
        margin-top: 30px;
        margin-left: 40px;
        list-style: none;
        gap: 20px;
    }

    .luxury__title {
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;

        h2 {
            margin-right: 10px;
            margin-bottom: 30px;
            color: #FFF;
            font-family: $josefin;
            font-size: 48px;
            font-weight: 700;
        }
    }
}

// AVAILABILITY

.availability {
    height: 600px;
    background-color: $artyclick-yellow;
    flex-direction: column;

    .availability__title {
        margin-top: 34px;
        margin-left: 40px;
        font-family: $josefin;
        font-size: 48px;
        font-weight: 400;
    }

    .availability__table {
        margin-top: 17px;
        margin-left: 40px;
        width: 1200px;
        height: 480px;
        border: 6px solid #000;
        border-collapse: collapse;
        
        td {
            height: 78px;
            border: 6px solid #000;
            text-align: center;
            font-family: $josefin;
            font-size: 32px;
            font-weight: 400;
        }

        .table__names {
            text-align: center;
        }
    }
}

// FOOTER

footer {
    align-items: center;
    height: 220px;
    background-color: #000;
    color: #FFF;

    .footer__rights {
        margin-left: 22px;
        font-family: $calibri;
        font-size: 32px;
        font-weight: 400;
    }
    
    .footer__socials {
        margin-left: 181px;
        flex-direction: column;

        h3 {
            margin-bottom: 26px;
            font-family: $calibri;
            font-size: 32px;
            font-weight: 400;
        }

        .footer__icons {
            list-style: none;
            gap: 18px;
    
            .fa-brands {
                font-size: 48px;
            }
        }
    }

    .footer__img {
        margin-left: 372px;
    }

}


// HELPER CLASSES

.d-flex {
    display: flex;
}

.j-flex-vc {
    justify-content: center;
}

.a-items-hc {
    align-items: center;
}